[Desktop Entry]
Name=Journaux divers CLIP
Comment=Journaux divers du socle CLIP
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/messages \"Journaux divers CLIP\"
Icon=info
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Misc;
