[Desktop Entry]
Name=Journaux des diodes
Comment=Journaux des transferts via la diode montante ou la diode cryptographique
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/cryptd.log \"Journaux des diodes\"
Icon=security-high
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Info;
