[Desktop Entry]
Name=Mises à jour Socle
Comment=Journaux des mises à jour CLIP
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/update.log \"Mises à jour CLIP\"
Icon=security-high
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Info;X-Audit-Nomad;
