[Desktop Entry]
Name=Journaux IPsec
Comment=Etablissement des tunnels IPsec
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/ike.log \"Journaux IPsec\"
Icon=network
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Net;X-Audit-Nomad;
