[Desktop Entry]
Name=Avertissements Vserver
Comment=Avertissements du cloisonnement Vserver
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/vserver.log \"Avertissements Vserver\"
Icon=security-medium
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Warning;X-Audit-Nomad;
