[Desktop Entry]
Name=Alertes Veriexec
Comment=Alertes de vérification d'intégrité des exécutables
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/veriexec.log \"Alertes Veriexec\"
Icon=security-low
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Alert;X-Audit-Nomad;
