[Desktop Entry]
Name=Journaux d'authentification
Comment=Authentifications réussies et échouées
Exec=/usr/local/bin/ssh -p 23 -X -Y _audit@127.53.0.1 /usr/local/bin/clip-viewer -lt /log/auth.log \"Journaux d\'authentification\"
Icon=info
Type=Application
Categories=System;X-CLIP;X-Audit;X-Audit-Misc;
