[Desktop Entry]
Name=Redémarrer le poste
Comment=Quitte toutes les applications lancées et redémarre l'ordinateur
Exec=!reboot
Icon=system-reboot
Type=Application
Categories=System;X-CLIP;X-Leave;
