[Desktop Entry]
Name=Arrêter le poste
Comment=Quitte toutes les applications lancées et arrête l'ordinateur
Exec=!halt
Icon=system-shutdown
Type=Application
Categories=System;X-CLIP;X-Leave;
