[Desktop Entry]
Name=Supprimer une clé IKE
Comment=Supprimer une clé (privée ou publique) ou son mot de passe pour IPsec/IKE
Exec=/usr/local/bin/ssh -X -Y -p 22 _admin@127.54.0.1 /bin/uninstall_ike.sh
Icon=remove
Type=Application
Categories=X-CLIP;Settings;X-Admin;X-Cryptography;
